body {
  background-color: #eee;
  min-height: 100%;
  font-family: "Archivo", sans-serif;
  margin: 0;
}

h2 {
  font-family: archivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.5px;
}

p {
  font-family: archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}

a {
  font-family: archivo;
  font-size: 15px;
  text-decoration: none;
  color: #3667ce;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.container {
  display: grid;
  font-family: "Archivo", sans-serif;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.login-container {
  font-family: "Archivo", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  font-family: "Archivo", sans-serif;
  color: rgba(82, 82, 82, 1);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  /* align-items: left; */
  width: 300px;
  min-height: 600px;
  gap: 20px;
  background-color: white;
  border-radius: 24px;
  padding: 47px 58px;
  filter: drop-shadow(0px 2.846px 49.802px rgba(0, 0, 0, 0.1));
  backdrop-filter: blur(10.671875px);
}

.login-card-content {
  font-weight: 400;
  letter-spacing: 0.5px;
}

.Logo img {
  height: 35px;
  width: auto;
}

.input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #7e7e7e;
  font-size: 16px;
  font-weight: 200;
  gap: 8px;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 36px;
}

.input-group > input {
  height: 40px;
  /* line-height: 40px; */
  /* color: #7E7E7E; */
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 12px 0 40px;
  box-sizing: border-box;
  padding-left: 32px;
}

input::placeholder {
  font-family: archivo;
  color: #c5c5c5;
  font-size: 14px;
  font-weight: 50;
}

.actions {
  color: #c5c5c5;
  font-family: archivo;
  padding-top: 10px;
  display: flex;
  /* width: 336px; */
  justify-content: space-between;
  /* gap: 80px; */
}

.primary-button {
  background-color: #3667ce;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  margin: 8px 0;
  font-family: archivo;
  transition: background-color 0.3s ease;
}

.primary-button:hover {
  background-color: #1340a0 !important;
}

.secondary-button {
  background-color: #d90000;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  font-family: archivo;
  transition: background-color 0.3s ease;
}

.secondary-button:hover {
  background-color: #9a0000 !important;
}

.social-login {
  display: flex;
  flex-direction: column;
}

.microsoft-login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: black;
  padding: 14px;
  border: 1px solid var(--black-5, rgba(0, 0, 0, 0.05));
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  font-family: archivo;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 100%;
}

.microsoft-login img {
  height: 17 px;
  width: 80px;
  /* margin-right: 10px; */
}

.microsoft-login:hover {
  background-color: #ececec !important;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .animation-container {
    display: none;
  }
}

.animation-container {
  position: relative;
  overflow: hidden;
}

.animation-items {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  /* width: 50%; */
}

.circle-one,
.circle-two,
.circle-three {
  position: absolute;
  border-radius: 50%;
  right: -50%;
  /* transform: translateY(-50%); */
  /* animation: swingIn 2s ease-out forwards; */
}

.circle-one {
  width: 150vh;
  height: 150vh;
  background-color: rgba(54, 103, 206, 0.17);
  transform: translate(50%, -15%);
  animation: swingIn1 2s ease-out forwards;
}

.circle-two {
  width: 110vh;
  height: 110vh;
  background-color: rgba(54, 103, 206, 0.15);
  transform: translate(44%, -4%);
  animation: swingIn2 2s ease-out forwards;
}

.circle-three {
  width: 80vh;
  height: 80vh;
  background-image: url("https://res.cloudinary.com/dusou0qjr/image/upload/v1724927520/boat_plane5_v737cy.png");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  transform: translate(39%, 13%);
  animation: swingIn3 2s ease-out forwards;
}

.img-container {
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 1;
  transform: translate(97%, -44%);
  animation: swingIn4 2s ease-out forwards;
}

.img-container img {
  /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25); /* Adding a shadow */
  /* border-radius: 12px; Optional: Adding rounded corners */
}

@keyframes swingIn1 {
  0% {
    transform: translate(100%, -100%);
  }

  100% {
    transform: translate(50%, -15%);
  }
}

@keyframes swingIn2 {
  0% {
    transform: translate(100%, -100%);
  }

  100% {
    transform: translate(44%, -4%);
  }
}

@keyframes swingIn3 {
  0% {
    transform: translate(100%, -100%);
  }

  100% {
    transform: translate(39%, 13%);
  }
}

@keyframes swingIn4 {
  0% {
    transform: translate(500%, -500%);
  }

  100% {
    transform: translate(97%, -44%);
  }
}

.password-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.password-container input {
  width: calc(100% - 40px); /* Adjusted for the button width */
  padding-right: 40px; /* Padding to make space for the button */
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.toggle-password i {
  font-size: 18px;
  color: #888;
}
.error-message {
  color: #bd0000;
}
.qr-code {
  text-align: center;
}

.qr-code img {
  max-width: 200px;
  height: auto;
}

.manual-setup {
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 5px;
}

.manual-setup code {
  display: block;
  word-break: break-all;
  font-size: 0.9em;
}

.email-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
